@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid initial pager page";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Setting initial grid page</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Titled("Name");
                columns.Add(model => model.Surname).Titled("Surname");
                columns.Add(model => model.MaritalStatus).Titled("Marital status");

                columns.Add(model => model.Age).Titled("Age");
                columns.Add(model => model.Birthday).Titled("Birth date").Formatted("{0:d}");
                columns.Add(model => model.IsWorking).Titled("Employed");
            })
            .Pageable(pager =>
            {
                pager.CurrentPage = 2;
                pager.RowsPerPage = 2;
            })
        )
    </div>
</div>

<div class="row">
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Controller</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">ViewResult</span> Index()
{
    <span class="kwd">return</span> View(Context.Set&lt;<span class="cls">Person</span>&gt;().OrderBy(model => model.Id));

    <span class="com">// Has to be ordered in database query scenarios for paging to work!</span>
}
</code>
</pre>
        </div>
    </div>
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birth date"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Pageable(pager =>
    {
        pager.CurrentPage = 2;
        pager.RowsPerPage = 2;
    })
)
</code>
</pre>
        </div>
    </div>
</div>
