@{
    ViewBag.Title = "MVC.Grid installation";
}

<div class="widget docs">
    <div class="widget-header">
        <div class="fa fa-info"></div>
        <span>Installation steps</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
        <p>
            Install MVC.Grid package from nuget.
        </p>
        <pre>> Install-Package NonFactors.Grid.Mvc5</pre>
        <p>
            Include grid styling sheet.
        </p>
        <pre>
&lt;html&gt;
    &lt;head&gt;
<b class="install-note">+       &lt;link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet"&gt;</b>
    &lt;/head&gt;
    &lt;body&gt;
        @@RenderBody()
    &lt;/body&gt;
&lt;/html&gt;</pre>
        <p>
            Include grid scripts.
        </p>
        <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        @@RenderBody()

<b class="install-note">+       &lt;script src="~/Scripts/MvcGrid/mvc-grid.js"&gt;&lt;/script&gt;</b>
    &lt;/body&gt;
&lt;/html&gt;</pre>
        <p>
            Initialize MVC.Grid instances after rendering grid html
        </p>
        <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        @@RenderBody()

        &lt;script src="~/Scripts/MvcGrid/mvc-grid.js"&gt;&lt;/script&gt;
        &lt;script&gt;
<b class="install-note">+           [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
+               new MvcGrid(element);
+           });</b>
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
    </div>
</div>
