@model IEnumerable<PersonModel>

@{
    ViewBag.Title = "MVC.Grid installation";
}

<div class="doc">
    <div id="getting-started" class="section">
        <h2>MVC.Grid installation</h2>
        <p>
            Install MVC.Grid package from nuget.
        </p>
        <pre>> Install-Package NonFactors.Mvc.Grid</pre>
        <p>
            Include grid styling sheet.
        </p>
        <pre>&lt;link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" /&gt;</pre>
        <p>
            Include grid scripts.
        </p>
        <pre>&lt;script src="~/Scripts/MvcGrid/mvc-grid.js" /&gt;</pre>
    </div>
</div>
