@{
    ViewBag.Title = "MVC.Grid installation";
}

<div class="docs content-block">
    <div class="widget">
        <div class="widget-header">
            <i class="fa fa-bars"></i>
            Installation
            <span class="widget-buttons">
                <i class="content-toggle"></i>
            </span>
        </div>
        <div class="widget-content">
            <p>
                Install MVC.Grid package from nuget.
            </p>
            <pre>> Install-Package NonFactors.Mvc.Grid</pre>
            <p>
                Include grid styling sheet.
            </p>
            <pre>&lt;link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" /&gt;</pre>
            <p>
                Include grid scripts.
            </p>
            <pre>&lt;script src="~/Scripts/MvcGrid/mvc-grid.js" /&gt;</pre>
        </div>
    </div>
</div>
