@model IEnumerable<PersonModel>

@{
    ViewBag.Title = "MVC.Grid javascript API";
}

<div class="example content-block">
    <div class="widget">
        <div class="widget-header">
            <h1>
                <i class="fa fa-bars"></i>
                Grid javascript configuration api
                <span class="widget-buttons">
                    <i class="content-toggle"></i>
                </span>
            </h1>
        </div>
        <div class="widget-content">
            @(Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.Add(model => model.Name).Titled("Name");
                    columns.Add(model => model.Surname).Titled("Surname");

                    columns.Add(model => model.Age).Titled("Age");
                    columns.Add(model => model.Birthday).Titled("Birth date");
                    columns.Add(model => model.IsWorking).Titled("Employed");
                })
                .Pageable(pager =>
                {
                    pager.RowsPerPage = 4;
                })
                .Filterable()
                .Sortable()
            )
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Javascript configuration
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
$(<span class="str">'.mvc-grid'</span>).mvcgrid({
    sourceUrl: <span class="str">'IndexGrid'</span>, <span class="com">// Grid source url string</span>
    query: <span class="str">'?search=test'</span>, <span class="com">// Grid query string</span>
    requestType: <span class="str">'get'</span>, <span class="com">// Ajax grid request type</span>
    data: {
        <span class="com">// Ajax grid query data</span>
    },
    filters: {
        <span class="com">// Grid filters to extend or use</span>
        <span class="str">'Boolean'</span>: <span class="kwd">new</span> CustomBooleanFilter()
    },
    reload: <span class="kwd">false</span>, <span class="com">// Grid reload indicator</span>
    rowClicked: <span class="kwd">function</span>(row, data, e) {
        <span class="com">// this - grid instance which invoked the event</span>
        <span class="com">// row - DOM element</span>
        <span class="com">// data - clicked row's data from all bound columns</span>
        <span class="com">// e - native row click event</span>
    },
    reloadStarted: <span class="kwd">function</span>() {
        <span class="com">// this - grid instance which invoked the event</span>
    },
    reloadEnded: <span class="kwd">function</span>() {
        <span class="com">// this - grid instance which invoked the event</span>
    },
    reloadFailed: <span class="kwd">function</span>(result) {
        <span class="com">// this - grid instance which invoked the event</span>
        <span class="com">// result - failed ajax response result</span>
    }
});
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Javascript methods
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
<span class="com">// Returns grid's javascript instance</span>
$(<span class="str">'.mvc-grid'</span>).mvcgrid(<span class="str">'instance'</span>);

<span class="com">// Reloads the grid</span>
$(<span class="str">'.mvc-grid'</span>).mvcgrid(<span class="str">'reload'</span>);
</code>
</pre>
                </div>
            </div>
        </div>
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Javascript events
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
<span class="com">// Triggered when grid's row is clicked</span>
$(document).on(<span class="str">'rowclick'</span>, <span class="str">'.mvc-grid'</span>, <span class="kwd">function</span>(e, data, grid, originalEvent) {
    <span class="com">e - grid's rowclick event, generated through jQuery's trigger function.</span>
    <span class="com">data - clicked row's data from columns.</span>
    <span class="com">grid - grid's instance.</span>
    <span class="com">originalEvent - original tr click event which triggered the rowclick.</span>
});

<span class="com">// Triggered before grid starts loading</span>
$(document).on(<span class="str">'reloadStarted'</span>, <span class="str">'.mvc-grid'</span>, <span class="kwd">function</span> (e, grid) {
    <span class="com">e - grid's reload started event, generated through jQuery's trigger function.</span>
    <span class="com">grid - grid's instance.</span>
});

<span class="com">// Triggered after grid stop loading</span>
$(document).on(<span class="str">'reloadEnded'</span>, <span class="str">'.mvc-grid'</span>, <span class="kwd">function</span> (e, grid) {
    <span class="com">e - grid's reload ended event, generated through jQuery's trigger function.</span>
    <span class="com">grid - grid's instance.</span>
});
    
<span class="com">// Triggered after grid reload fails</span>
$(document).on(<span class="str">'reloadFailed'</span>, <span class="str">'.mvc-grid'</span>, <span class="kwd">function</span> (e, grid, result) {
    <span class="com">e - grid's reload failed event, generated through jQuery's trigger function.</span>
    <span class="com">grid - grid's instance.</span>
    <span class="com">result - failed ajax response result.</span>
});
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</div>
