@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid reload events binding";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Binding grid reload events</span>
        <div class="widget-buttons">
            <span id="ContentRefresh" class="fa fa-refresh"></span>
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
        @Html.Partial("_ReloadEventsGrid")
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>Main view</span>
                <div class="widget-buttons">
                    <span class="fa fa-minus content-toggle"></span>
                </div>
            </div>
            <div class="widget-content">
<pre>
<code>
@@Html.AjaxGrid(Url.Action(<span class="str">"IndexGrid"</span>))
</code>
</pre>
            </div>
        </div>
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>_IndexGrid partial view</span>
                <div class="widget-buttons">
                    <span class="fa fa-minus content-toggle"></span>
                </div>
            </div>
            <div class="widget-content">
<pre>
<code>
<span class="com">@@* Should only include grid declaration *@@</span>

@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => <span class="cls">DateTime</span>.Now).Titled(<span class="str">"Time stamp"</span>);
    })
)
</code>
</pre>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>Javascript</span>
                <div class="widget-buttons">
                    <span class="fa fa-minus content-toggle"></span>
                </div>
            </div>
            <div class="widget-content">
<pre>
<code>
document.addEventListener(<span class="str">'reloadstart'</span>, <span class="kwd">function</span> (e) {
    console.log(<span class="str">'grid: '</span>, e.detail.grid);
});

document.addEventListener(<span class="str">'reloadend'</span>, <span class="kwd">function</span> (e) {
    console.log(<span class="str">'grid: '</span>, e.detail.grid);
});

document.addEventListener(<span class="str">'reloadfail'</span>, <span class="kwd">function</span> (e) {
    console.log(<span class="str">'grid: '</span>, e.detail.grid);
    console.log(<span class="str">'failed ajax response result: '</span>, e.detail.result);
});
</code>
</pre>
            </div>
        </div>
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>Controller</span>
                <div class="widget-buttons">
                    <span class="fa fa-minus content-toggle"></span>
                </div>
            </div>
            <div class="widget-content">
<pre>
<code>
[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">ViewResult</span> Index()
{
    <span class="kwd">return</span> View();
}

[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">PartialViewResult</span> IndexGrid()
{
    <span class="kwd">return</span> PartialView(<span class="str">"_IndexGrid"</span>, <span class="cls">PeopleRepository</span>.GetPeople());
}
</code>
</pre>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('ContentRefresh').addEventListener('click', function () {
            new MvcGrid(document.querySelector('.mvc-grid')).reload();
        });

        document.addEventListener('reloadstart', function (e) {
            console.log('grid: ', e.detail.grid);
        });

        document.addEventListener('reloadend', function (e) {
            console.log('grid: ', e.detail.grid);
        });

        document.addEventListener('reloadfail', function (e) {
            console.log('grid: ', e.detail.grid);
            console.log('failed ajax response result: ', e.detail.result);
        });
    </script>
}
