@model IQueryable<Person>

@{
    ViewBag.Title = "MVC.Grid custom column filter";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Filtering column with a custom filter</span>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Filterable(true).FilteredAs("custom");
                columns.Add(model => model.Surname).Filterable(GridFilterType.Double).FilteredAs("custom");
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age);
                columns.Add(model => model.Birthday).Formatted("{0:d}");
                columns.Add(model => model.IsWorking);
            })
        )
    </div>
</div>
<div class="row">
    <div class="widget code col-xl-7">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IQueryable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>).Filterable(<span class="kwd">true</span>).FilteredAs(<span class="str">"custom"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>).Filterable(<span class="cls">GridFilterType</span>.Double).FilteredAs(<span class="str">"custom"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
)
</code>
</pre>
        </div>
    </div>
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>
<span class="kwd">var</span> CustomTextFilter = (<span class="kwd">function</span> (base) {
    MvcGridExtends(CustomTextFilter, base);

    <span class="kwd">function</span> CustomTextFilter(column) {
        base.call(<span class="kwd">this</span>, column);

        <span class="kwd">this</span>.methods = [<span class="str">'contains'</span>];
        column.grid.lang.custom = { contains: <span class="str">'Contains'</span> };
    }

    <span class="com">// Other extension points can be found at MvcGridFilter declaration</span>

    <span class="kwd">return</span> CustomTextFilter;
})(MvcGridFilter);

<span class="kwd">new</span> <span class="cls">MvcGrid</span>(document.querySelector(<span class="str">'.mvc-grid'</span>), {
    filters: {
        <span class="str">'custom'</span>: CustomTextFilter
    }
});
</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var CustomTextFilter = (function (base) {
            MvcGridExtends(CustomTextFilter, base);

            function CustomTextFilter(column) {
                base.call(this, column);

                this.methods = ['contains'];
                column.grid.lang.custom = { contains: 'Contains' };
            }

            return CustomTextFilter;
        })(MvcGridFilter);

        new MvcGrid(document.querySelector('.mvc-grid'), {
            filters: {
                'custom': CustomTextFilter
            }
        });
    </script>
}
