@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid default filter method";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Filterable grid</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).WithDefaultFilterMethod("equals");
                columns.Add(model => model.Surname).WithDefaultFilterMethod("contains");
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age).WithDefaultFilterMethod("less-than-or-equal");
                columns.Add(model => model.Birthday).Formatted("{0:d}");
                columns.Add(model => model.IsWorking);
            })
            .Empty("No data found")
            .Filterable()
        )
    </div>
</div>

<div class="widget code">
    <div class="widget-header">
        <div class="fa fa-code"></div>
        <span>View</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>).WithDefaultFilterMethod(<span class="str">"equals"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>).WithDefaultFilterMethod(<span class="str">"contains"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>).WithDefaultFilterMethod(<span class="str">"less-than-or-equal"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Empty(<span class="str">"No data found"</span>)
    .Filterable()
)
</code>
</pre>
    </div>
</div>
