@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid column filter options";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Grid with filter options</span>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).UsingFilterOptions(new[]
                {
                    new SelectListItem(),
                    new SelectListItem { Value = "Joe", Text = "Joe Crosswave" },
                    new SelectListItem { Value = "Merry", Text = "Merry Lisel" }
                });
                columns.Add(model => model.Surname);
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age).UsingFilterOptions();
                columns.Add(model => model.Birthday).Formatted("{0:d}");
                columns.Add(model => model.IsWorking);
            })
            .Empty("No data found")
            .Pageable(pager =>
            {
                pager.RowsPerPage = 4;
            })
            .Filterable()
            .Sortable()
        )
    </div>
</div>

<div class="widget code">
    <div class="widget-header">
        <div class="fa fa-code"></div>
        <span>View</span>
    </div>
    <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>).UsingFilterOptions(<span class="kwd">new</span>[]
        {
            <span class="kwd">new</span> <span class="cls">SelectListItem</span>(),
            <span class="kwd">new</span> <span class="cls">SelectListItem</span> { Value = <span class="str">"Joe"</span>, Text = <span class="str">"Joe Crosswave"</span> },
            <span class="kwd">new</span> <span class="cls">SelectListItem</span> { Value = <span class="str">"Merry"</span>, Text = <span class="str">"Merry Lisel"</span> }
        });
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>).UsingFilterOptions();
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Empty(<span class="str">"No data found"</span>)
    .Filterable()
    .Sortable()
    .Pageable()
)
</code>
</pre>
    </div>
</div>
