@model IQueryable<Person>

@{
    ViewBag.Title = "MVC.Grid column value formatting";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Formatting column value</span>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name);
                columns.Add(model => model.Surname);
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age);
                columns.Add(model => model.Birthday).Titled("Birth year").Formatted("{0: yyyy}");
                columns.Add(model => model.IsWorking);
            })
        )
    </div>
</div>

<div class="widget code">
    <div class="widget-header">
        <div class="fa fa-code"></div>
        <span>View</span>
    </div>
    <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IQueryable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birth year"</span>).Formatted(<span class="str">"{0: yyyy}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
)
</code>
</pre>
    </div>
</div>
