@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid column multi value filtering";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Filtering multiple column values</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Titled("Name").MultiFilterable(true);
                columns.Add(model => model.Surname).Titled("Surname").Filterable(true);
                columns.Add(model => model.MaritalStatus).Titled("Marital status");

                columns.Add(model => model.Age).Titled("Age").MultiFilterable(true);
                columns.Add(model => model.Birthday).Titled("Birth date").MultiFilterable(true);
                columns.Add(model => model.IsWorking).Titled("Employed").Filterable(true);
            })
        )
    </div>
</div>

<div class="widget code">
    <div class="widget-header">
        <div class="fa fa-code"></div>
        <span>View</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>).MultiFilterable(<span class="kwd">true</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>).Filterable(<span class="kwd">true</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>).MultiFilterable(<span class="kwd">true</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birth date"</span>).MultiFilterable(<span class="kwd">true</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>).Filterable(<span class="kwd">true</span>);
    })
)
</code>
</pre>
    </div>
</div>
