@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid column value sorting";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Sorting column values</span>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Sortable(true);
                columns.Add(model => model.Surname).Sortable(false);
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age).Sortable(true);
                columns.Add(model => model.Birthday).Sortable(true).Formatted("{0:d}");
                columns.Add(model => model.IsWorking).Sortable(true);
            })
        )
    </div>
</div>

<div class="widget code">
    <div class="widget-header">
        <div class="fa fa-code"></div>
        <span>View</span>
    </div>
    <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>).Sortable(<span class="kwd">true</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>).Sortable(<span class="kwd">false</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>).Sortable(<span class="kwd">true</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>).Sortable(<span class="kwd">true</span>);
    })
)
</code>
</pre>
    </div>
</div>
