@model IEnumerable<PersonModel>

@{
    ViewBag.Title = "Ajax";
}

<div class="example content-block">
    <div class="widget">
        <div class="widget-header">
            <i class="fa fa-bars"></i>
            Ajax grid
            <span class="widget-buttons">
                <i class="content-toggle"></i>
            </span>
        </div>
        <div class="widget-content">
            <div class="mvc-grid" data-source-url="@Url.Action("GridPartial")">
            </div>
        </div>
    </div>
</div>
<div class="example-code content-block">
    <div class="widget">
        <div class="widget-header">
            <i class="fa fa-code"></i>
            Code
            <span class="widget-buttons">
                <i class="content-toggle"></i>
            </span>
        </div>
        <div class="widget-content">
<pre>
<code>
&lt;div class="mvc-grid" data-source-url="@@Url.Action("GridPartial")"&gt;
&lt;/div&gt;
</code>
</pre>
        </div>
    </div>
</div>
