@{
    ViewBag.Title = "MVC.Grid ajax";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Ajax grid</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
        @Html.AjaxGrid(Url.Action("AjaxGrid"), new { id = "my-ajax-grid" })
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>Controller</span>
                <div class="widget-buttons">
                    <span class="fa fa-minus content-toggle"></span>
                </div>
            </div>
            <div class="widget-content">
<pre>
<code>
[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">ViewResult</span> Index()
{
    <span class="com">// Only browser url query values will be visible here.</span>
    <span class="kwd">return</span> View();
}

[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">PartialViewResult</span> IndexGrid()
{
    <span class="com">// Only grid query values will be available here.</span>
    <span class="kwd">return</span> PartialView(<span class="str">"_IndexGrid"</span>, <span class="cls">PeopleRepository</span>.GetPeople());
}
</code>
</pre>
            </div>
        </div>
        <div class="widget code">
            <div class="widget-header">
                <div class="fa fa-code"></div>
                <span>Main view</span>
                <div class="widget-buttons">
                    <span class="fa fa-minus content-toggle"></span>
                </div>
            </div>
            <div class="widget-content">
<pre>
<code>
@@Html.AjaxGrid(Url.Action(<span class="str">"IndexGrid"</span>))

<span class="com">// or with html attributes</span>

@@Html.AjaxGrid(Url.Action(<span class="str">"IndexGrid"</span>), <span class="kwd">new</span> { id = <span class="str">"my-ajax-grid"</span>})
</code>
</pre>
            </div>
        </div>
    </div>

    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>_IndexGrid partial view</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
<span class="com">@@* Should only include grid declaration *@@</span>

@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Empty(<span class="str">"No data found"</span>)
    .Id(<span class="str">"my-ajax-grid"</span>)
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 2;
        pager.RowsPerPage = 2;
    })
    .Filterable()
    .Sortable()
)
</code>
</pre>
        </div>
    </div>
</div>
