@model IEnumerable<PersonModel>

@{
    ViewBag.Title = "Grid » Data source";
}

<ul class="top-nav">
    <li>Grid »</li>
    <li>Data source</li>
</ul>
<hr>

<div class="doc">
    <div id="getting-started" class="section">
        <h2>Description</h2>
        <p>
            Sets data source for an ajax grid.
        </p>
        <h2>Remarks</h2>
        <p>By default grid is rendered on the same request, specifying data source enables ajax grid which loads grid using ajax call after page is loaded.</p>
        <h2>Examples</h2>
        <pre class="example-code"><a class="show-code">Show/Hide the code...</a>
<span class="code">
&lt;div class="mvc-grid" data-source-url="@@Url.Action("GridPartial")"&gt;
&lt;/div&gt;
</span></pre>
    </div>
</div>

<div class="mvc-grid" data-source-url="@Url.Action("GridPartial")">
</div>