@{
    ViewBag.Title = "Grid global search";
}

<div class="example content-block">
    <div class="widget">
        <div class="widget-header">
            <i class="fa fa-bars"></i>
            Grid with global search
            <input id="grid-search" class="grid-search" type="text" placeholder="Search..." />
            <span class="widget-buttons">
                <i class="content-toggle"></i>
            </span>
        </div>
        <div class="widget-content">
            @Html.AjaxGrid(Url.Action("GridSearchPartial"))
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Controller
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">ActionResult</span> Index()
{
    <span class="kwd">return</span> View();
}

[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">ActionResult</span> IndexGrid(<span class="cls">String</span> search)
{
    <span class="kwd">return</span> PartialView(<span class="str">"_IndexGrid"</span>, <span class="cls">PeopleRepository</span>.GetPeople(search));
}
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Main view
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
&lt;input id="grid-search" /&gt;

@@Html.AjaxGrid(Url.Action(<span class="str">"IndexGrid"</span>))

&lt;script&gt;
    $(document).on(<span class="str">'keyup'</span>, <span class="str">'.grid-search'</span>, <span class="kwd">function</span>() {
        <span class="kwd">var</span> grid = $(<span class="str">'.mvc-grid'</span>).data(<span class="str">'mvc-grid'</span>);
        grid.query = <span class="str">'search='</span> + <span class="kwd">this</span>.value; <span class="com">// Reset page, filter and sort with new filter.</span>

        $(<span class="str">'.mvc-grid'</span>).mvcgrid({
            reload: <span class="kwd">true</span>
        });
    });
&lt;/script&gt;
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    _IndexGrid partial view
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
@@using NonFactors.Mvc.Grid;

@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">PersonModel</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birth date"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Sortable()
)
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script>
    $(document).on('keyup', '.grid-search', function () {
        var grid = $('.mvc-grid').data('mvc-grid');
        grid.query = 'search=' + this.value;

        $('.mvc-grid').mvcgrid({
            reload: true
        });
    });
</script>
}