@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid manual paging";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Manually paged grid</span>
        <div class="widget-buttons">
            <span class="fa fa-minus content-toggle"></span>
        </div>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name);
                columns.Add(model => model.Surname);
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age);
                columns.Add(model => model.Birthday).Formatted("{0:d}");
                columns.Add(model => model.IsWorking);
            })
            .Pageable(pager =>
            {
                pager.ProcessorType = GridProcessorType.Manual;
                pager.TotalRows = ViewBag.TotalRows;
                pager.RowsPerPage = 3;
            })
        )
    </div>
</div>

<div class="row">
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Controller</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
[<span class="cls">HttpGet</span>]
<span class="kwd">public</span> <span class="cls">ViewResult</span> Index(<span class="cls">Int32</span>? page, <span class="cls">Int32</span>? rows)
{
    ViewBag.TotalRows = <span class="cls">PeopleRepository</span>.GetPeople().Count();

    <span class="kwd">return</span> View(<span class="cls">PeopleRepository</span>.GetPeople().Skip((page - 1 ?? 0) * (rows ?? 3)).Take(rows ?? 3));
}
</code>
</pre>
        </div>
    </div>
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .Pageable(pager =>
    {
        pager.ProcessorType = <span class="cls">GridProcessorType</span>.Manual;
        pager.TotalRows = ViewBag.TotalRows;
        pager.RowsPerPage = 3;
    })
)
</code>
</pre>
        </div>
    </div>
</div>
