@model IEnumerable<Person>

@{
    ViewBag.Title = "MVC.Grid row attributes";
}

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Attributed grid rows</span>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name);
                columns.Add(model => model.Surname);
                columns.Add(model => model.MaritalStatus);

                columns.Add(model => model.Age);
                columns.Add(model => model.Birthday).Formatted("{0:d}");
                columns.Add(model => model.IsWorking);
            })
            .RowAttributed(model => new { @class = model.IsWorking == true ? "bolded" : null, data_id = model.Id })
            .Css("table-hover")
        )
    </div>
</div>

<div class="row">
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>
@@model <span class="cls">IEnumerable</span>&lt;<span class="cls">Person</span>&gt;

@@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled(<span class="str">"Name"</span>);
        columns.Add(model => model.Surname).Titled(<span class="str">"Surname"</span>);
        columns.Add(model => model.MaritalStatus).Titled(<span class="str">"Marital status"</span>);

        columns.Add(model => model.Age).Titled(<span class="str">"Age"</span>);
        columns.Add(model => model.Birthday).Titled(<span class="str">"Birthday"</span>).Formatted(<span class="str">"{0:d}"</span>);
        columns.Add(model => model.IsWorking).Titled(<span class="str">"Employed"</span>);
    })
    .RowAttributed(model => <span class="kwd">new</span> { @@class = model.IsWorking == <span class="kwd">true</span> ? <span class="str">"bolded"</span> : <span class="kwd">null</span>, data_id = model.Id })
)
</code>
</pre>
        </div>
    </div>
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>
document.querySelector(<span class="str">'.mvc-grid'</span>).addEventListener(<span class="str">'rowclick'</span>, <span class="kwd">function</span> (e) {
    console.log(e.target.dataset.id);
});
</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.querySelector('.mvc-grid').addEventListener('rowclick', function (e) {
            console.log(e.target.dataset.id);
        });
    </script>
}
